/*
Buttons
*/
.btn{
    background:rgba(221,221,221,0.16);
    color:#fff;
    padding:6px 12px;
    border-radius:6px;
    box-shadow:inset 0 1px 2px 0 rgba(255,255,255,0.46);
    border:1px solid rgba(0,170,204,1);
    text-decoration: none;
    font-size:18px;
    display:inline-block;
}
.btn>i{
    margin-right:12px;
}
.btn:hover,
.btn:focus{
    background:rgba(0,170,204,0.86);
}
.btn:active{
    background:rgba(0,170,204,1);
}
.btn-default{

}
.btn-primary{
    background:rgba(0,170,204,0.86);
}
